<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Jetty example</display-name>

    <servlet>
        <servlet-name>input</servlet-name>
        <servlet-class>lab3.servlet.InputServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>lab3.servlet.MainServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>websocket</servlet-name>
        <servlet-class>lab4.servlet.EventServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>currencies</servlet-name>
        <servlet-class>lab4.servlet.MainServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>output</servlet-name>
        <servlet-class>lab3.servlet.OutputServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>lab3.servlet.DeleteServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>lab3.servlet.UpdateServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>websocket</servlet-name>
        <url-pattern>/ws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>output</servlet-name>
        <url-pattern>/output</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>input</servlet-name>
        <url-pattern>/input</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>currencies</servlet-name>
        <url-pattern>/currencies</url-pattern>
    </servlet-mapping>
</web-app>
